h1 {
  margin-left: 1rem;
}

h3 {
  margin-left: 1rem;
}

span {
  margin-left: 1rem;
}

form {
  margin-left: 1rem;
}

input {
  margin: 1rem;
}

ul {
  list-style-type: none;
  margin-left: -1.5rem;
  margin-right: 1rem;
}

li {
  border-style: ridge;
}

.deleteButton {
  float: right;
}
